/* DepartmentList.css */

/* Style for the main department list container */
.department-list-container {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #A9A9A9;
  }
  
  /* Style for the department list item */
  .department-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eee;
    margin: 5px 0;
    padding: 5px;
    
  }
  
  /* Style for the expand/collapse button */
  .expand-button {
    cursor: pointer;
  }
  
  /* Style for the expanded sub-department list */
  .sub-department-list {
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 10px;
  }
  