body {
  background-image: url('pexels-guilherme-rossi-1755683.jpg'); /* Replace with the actual path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This makes the background stay fixed while scrolling */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



/* userForm.css */

/* Style for the container div */
.user-form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Style for the form */
.user-form {
  display: flex;
  flex-direction: column;
}

/* Style for labels */
.user-form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

/* Style for input fields */
.user-form input[type="text"],
.user-form input[type="email"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for error messages */
.user-form .error {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

/* Style for the submit button */
.user-form button[type="submit"] {
  background-color: #073464;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-form button[type="submit"]:hover {
  background-color: #3e6797;
  box-shadow: 10px 10px lightblue;
}


/* DataGridPage.css */

/* Style for the container div */
.data-grid-page-container {
  margin: 20px;
}

/* Style for the DataGrid component */
.data-grid {
  height: 500px;
  width: 100%;
}

/* Style for the "Toggle Department List" button */
.toggle-button {
  margin-top: 20px;
  background-color: #073464;
}

/* Style for the DepartmentList component (adjust as needed) */
.department-list {
  margin-top: 20px;
}

/* Add more styles as needed */
